<!DOCTYPE html>
<head>
    <title>Weather</title>
    <link href="img/weather.png" rel="icon">
    <link rel="stylesheet" href="css/style.css">
    
</head>
<body>
         <div class="main-content"> 
        {{>header}}
         <p>Use this for weather search<p>
        <form>
            <input placeholder="Address">
            <button>submit</button>
        </form>
        <p id="message01"></p>
        <p id="message02"></p>
        
        </div>
   

    {{>footer}}
    <script src="js/app.js"></script>
</body>
</html>