
<!DOCTYPE html>
<head>
     <title>not found</title>
     <link href="img/weather.png" rel="icon">
    <link rel="stylesheet" href="css/style.css">
    
</head>
<body>
    <div class="main-content"> 
   {{>header}}

<center><h1>{{error}}</h1></center>
</div>
{{>footer}}
</body>
</html>